@layer base {
    *,
    *::before,
    *::after {
      box-sizing: border-box;
    }
  
    * {
      margin: 0;
      padding: 0;
    }
  
    /* DaisyUI Drawer 배경색 제거 */
    :root,
    [data-theme] {
      background: none !important;
    }
  
    body {
      font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      color: #1e293b;
    }
  
    a {
      text-decoration: none;
      color: inherit;
    }
  }
  